/* Ime Prezime Indeks */
#main{
    background-color: #1E5E82;
}
.container{
    background: url("img/cover.png")repeat-y, url("img/cover_bot.png")no-repeat;

    width: 770px;
    margin: auto;
}
#div-top header{
    background: url("img/cover_top.png")no-repeat;
    padding-top: 15px;
    padding-left: 62px;
}
#div-top header h1 span{
    display: none;
}
#div-top header h1{
    background: url("img/game-of-thrones.jpg")no-repeat;
    width: 268px;
    height: 71px;
}
#div-top header h2 span{
    display: none;
}
#div-top header h2{
    background: url("img/ice-and-fire.jpg")no-repeat;
    width: 299px;
    height: 22px;
}
#div-summary{
    width: 250px;
    float: right;

 }
#div-summary p:first-of-type{
    margin-top: -115px;
    margin-left: -122px;
    padding-right: 129px;
}
#div-summary p:nth-of-type(2){
    background: url(img/bookmark.jpg)no-repeat;
    width: 81px;
    height: 131px;
    margin-left: 129px;
    margin-top: -165px;
    padding: 7px;
}
#div-introduction{
    clear: both;
}
#div-introduction h3{
    background: url("img/img_1.jpg")no-repeat;
    width: 336px;
    height: 191px;
    display: inline-block;
    margin-left: 31px;
}
#div-introduction h3 span{
    display: none;
}
#div-introduction p{
    width: 350px;
    float: right;
    margin-right: 28px;
}
#div-introduction p:nth-of-type(2){
    margin-top: -113px;
}
#div-main{
    clear: both;
}
#div-backstage-links{
    background: url("img/notes.jpg")no-repeat;
    width: 252px;
    height: 249px;
    margin-left: 65px;
    display: inline-block;
}
#div-backstage-links ul li{
    list-style-type: none;
}
#div-backstage-links ul li a{
    text-decoration: none;
    color: black;
}
.backstage{
    font-style: italic;
    padding-left: 5px;
}

#div-backstage-links ul li a:hover{
    color: #1E5E82;
    text-shadow: 1px 1px 1px black;
}
#div-about h3{
    color: rgba(0,0,0,0);
    background: url("img/about.png")no-repeat;
    width: 176px;
    height: 45px;
    float: right;
    margin-right: -300px;
}
.main #div-about{
    width: 350px;
    float: left;
}
#div-about p{
    margin-left: 57px;
}
#div-people p{
    width: 350px;
    float: right;
}
#div-people p:first-of-type{
    background: url("img/img_2.jpg")no-repeat;
    width: 336px;
    height: 71px;
    margin-right: 34px;
    padding-top: 206px;
}
#div-people p:nth-of-type(2){
    margin-right: 24px;
}
#div-people h3{
    display: inline-block;
    color: rgba(0,0,0,0);
    background: url(img/people.png)no-repeat;
    width: 157px;
    height: 45px;
    float: left;
    margin-top: 349px;
    margin-left: -155px;
}
#div-people2{
    width: 350px;
    float: right;
    margin-top: 182px;
    margin-right: -350px;
}
.main footer{
    display: inline-block;
    float: right;
    margin-right: -261px;
    margin-top: 571px;
    word-spacing: 39px;
}

.sidebar{
    padding-left: 42px;
    width: 350px;
}
.main footer a{
    text-decoration: none;
    color: black;
}
.main footer a:hover{
    border: 1px solid black;
    padding: 3px;
    color: darkred;

}